img{
    width: 100px;
    height: 100px;
}

.cart{
    padding: 200px;
  
}

.plus,.minus{
    font-size: 20px;
    padding: 20px;
    background-color: gray;
    border-radius: 100%;
    margin-right: 15px;
}

.minus{
    margin-left: 15px;
}

